# SQL Learning Notebook

These are just a few examples of T-SQL queries that could be asked of novice programmers. They cover a range of basic T-SQL concepts and techniques, including SELECT statements, filtering and sorting data, joining tables, grouping data, and filtering groups.

These queries will not run without a database connection. Adapt these queries to fit your own database or run a series of statements to create the needed tables and data. To run these exercises on your own, you can install SQL Server on your local machine or use an Azure instance.

- [https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms](https:\learn.microsoft.com\en-us\sql\ssms\download-sql-server-management-studio-ssms)
- [https://www.microsoft.com/sql-server/sql-server-downloads](https:\www.microsoft.com\sql-server\sql-server-downloads)

The purpose of this notebook is to provide samples of code that a QA test engineer would benefit from knowing in order to automation portions of their work.

- **Retreive** all columns from the _Employees_ table, limiting the results to the top 1000.

In [ ]:
SELECT TOP 1000 * FROM Employees

As seen above, using the TOP function in SQL will limit the results so as not to create long-running queries. SQL is very happy to take as long as needed to return data, so limiting the amount to just what you need will prevent the database from being overtaxed.

- **Filter data with WHERE:** Write a query to retrieve all columns and rows from a table named "Orders" where the "OrderDate" is after January 1, 2022.

In [ ]:
SELECT * FROM Orders WHERE OrderDate > '2022-01-01';

- **Sort data with ORDER BY:** Write a query to retrieve all columns and rows from a table named "Customers" sorted by the "LastName" column in ascending order.

In [ ]:
SELECT * FROM Customers ORDER BY LastName ASC;

- **JOIN Tables:**Â Write a query to retrieve the "ProductName", "CategoryName", and "UnitPrice" from a table named "Products" and a table named "Categories" joined on the "CategoryID" column.

In [ ]:
SELECT p.ProductName, c.CategoryName, p.UnitPrice
FROM Products p
JOIN Categories c ON p.CategoryID = c.CategoryID;

- **Group data:** Write a query to retrieve the "Country" and the count of customers from a table named "Customers" grouped by the "Country" column.

In [ ]:
SELECT Country, COUNT(*) as CustomerCount
FROM Customers
GROUP BY Country;

- **Filter groups with HAVING:** Write a query to retrieve the "CategoryName" and the average "UnitPrice" from a table named "Products" grouped by the "CategoryName" column, but only for categories with an average unit price greater than 10.

In [ ]:
SELECT CategoryName, AVG(UnitPrice) as AvgUnitPrice
FROM Products
GROUP BY CategoryName
HAVING AVG(UnitPrice) > 10;

- **Count distinct column entries:** Write a query to return a count of column entries that match. (Note that the TOP function isn't used because the count needs to consider the entire table.

In [ ]:
SELECT DISTINCT COUNT(*) AS Count, ItemName
FROM Items
GROUP BY ItemName